.gallery-container {
  width: 100%;
}

.masonry-grid {
  display: flex;
  margin-left: -20px;
  width: auto;
}

.masonry-column {
  padding-left: 20px;
  background-clip: padding-box;
}

.masonry-column > div {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .masonry-grid {
    margin-left: -10px;
  }

  .masonry-column {
    padding-left: 10px;
  }

  .masonry-column > div {
    margin-bottom: 10px;
  }
}
